---
layout: base
title: Rabbit Holes
description: 'Not exactly a blog but intermittent notes on my reading list, observations, and contemplations.'
pagination:
  data: collections.allPosts
  size: 8
permalink: 'rabbit-holes/{% if pagination.pageNumber >=1 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html'
---
{# 
<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-secondary)">
    <div class="section__inner flow region" style="--region-space-top: var(--space-xl)">
      <h1 class="text-center" style="color: var(--color-light);">{{ title }}</h1>
    </div>
  </header> #}

<div class="wrapper prose">
  <div class="region">
    <h2>Not exactly a blog but intermittent notes on my reading list, observations, and contemplations.</h2>
  </div>

  <custom-masonry layout="50-50">
		{% asyncEach item in pagination.items %}
			{% include "partials/card-blog.njk" %}
		{% endeach %}
	</custom-masonry>

  <!-- set collection to paginate -->
  {% set collectionToPaginate = collections.posts %}
  <!-- set target pagination settings in meta.js -->
  {% set metaKey = "blog" %}
  <!-- if the number of items in the collection is greater than the number of items shown on one page -->
  {% if collectionToPaginate.length > pagination.size %}
    <!-- include pagination -->
    {% include 'partials/pagination.njk' %}
  {% endif %}
</div>
