{% set headingLevel = headingLevel | default("h2") %}
{% set definedDate = definedDate | default(item.date) %}
{% set showTags = showTags | default(true) %}

<a class="stub stub--post unstyled" href="{{ item.url | url }}">
  <div class="stub--header">
    <div class="stub--date">
      {%- if item.data.draft -%}<span class="button" data-small-button data-button-variant='tertiary'>draft</span>{%- endif %} 
      {% include "partials/date.njk" %}
    </div>
    <{{ headingLevel }} class="stub--title">
      {{ item.data.title }}
      <svg class="linkArrow" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="24" height="24" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
      </svg>
    </{{ headingLevel }}>
  </div>
  <div class="stub--text">{{ item.data.description | markdownFormat | safe }}</div>
  {% if showTags and item.data.tags.length > 1 %}
    <div class="stub--tags">
      {% for tag in item.data.tags %}
        {% if tag != "posts" %}
          <span class="button" data-small-button>{{ tag }}</span>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
</a>

{% css "local" %}
  {% include "css/post-cover.css" %}
{% endcss %}