<!-- Dark mode toggle -->
<button
  class="theme-toggle-button no-indicator"
  id="theme-toggle"
  aria-label="Toggle theme"
>
  <span class="visually-hidden">Toggle theme</span>
  {% svg "platform/awake" %}
</button>
